@font-face {
    font-family: 'KoPubWorld Batang';
    src: url('./fonts/KoPubWorld Batang_Pro Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'KoPubWorld Batang';
    src: url('./fonts/KoPubWorld Batang_Pro Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'KoPubWorld Batang';
    src: url('./fonts/KoPubWorld Batang_Pro Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }