@import "//cdn.jsdelivr.net/npm/font-kopub@1.0/kopubbatang.min.css";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Pretendard', sans-serif;
        /* /font-family: 'KoPub Batang', serif; */
    }
}

@layer components {
    #batang {
        font-family: 'KoPub Batang', serif;
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(14px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translateX(-24px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeRight {
    from {
        opacity: 0;
        transform: translateX(24px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate_top {
    animation: fadeUp .8s ease both;
}

.animate_right {
    animation: fadeRight .5s ease-out both;
}

.animate_left {
    animation: fadeLeft .5s ease-out both;
}